<br>

<div class="row">
  <div class="span16">
    <h3> Listar todas las soluciones enteras X1+X2+...+Xn = k donde:</h3>
    <h3>   a) Xi>=Ni, i=1,2,...,n.  b) 0<=X1<=X2<=...<=Xn. </h3>
    <br><br>
    <div class="span5">
      <div class="col-lg-8">

        <%= form_tag(:attachment3, :method => "get", id: "search-form3") do %>

          <div class="form-group">
            <%= label_tag 'N:', nil, class: 'col-lg-2 control-label' %>
            <div class="col-lg-10">
              <%= text_field_tag :array, params[:array], placeholder: "Array separated by comma", size: 30 %>
            </div>
          </div>

          <br><br>

          <div class="form-group">
            <%= label_tag 'k: ', nil, class: 'col-lg-2 control-label' %>
            <div class="col-lg-10">
              <%= text_field_tag :k, params[:k], placeholder: "Any valor", size: 30 %>
            </div>
          </div>

          <br><br>

          <div class="form-group">
            <div class="col-lg-10">
              <%= submit_tag "Search", :name => nil, class: 'btn btn-default' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="span5">
      <table class="table-bordered table-striped table-condensed table-hover">
        <% @selectables.each do |selectable| %>
          <tr>
            <td>
              <center><h3><%= selectable.to_s.gsub!('[','').gsub!(']','') %></h3></center>
            </td> 
          </tr>
        <% end %>
      </table>
      <% if @selectables != [] %>
        <%= will_paginate @selectables, renderer: BootstrapPagination::Rails %>
      <% end %>
    </div>
  </div>