
<br>

<div class="row">
  <div class="span5">
    <%= form_tag(:attachment2, :method => "get", id: "search-form") do %>

      <%= label_tag 'Array S: ', nil, class: 'label label-default' %>
      <%= text_field_tag :array, params[:array], placeholder: "Array separated by comma" %>

      <%= label_tag 'k: ', nil, class: 'label label-default' %>
      <%= text_field_tag :k, params[:k], title: "Should be less to array size" %>

      <br><br>
      <%= submit_tag "Search", :name => nil, class: 'btn btn-default' %>
    <% end %>
  </div>
  <div class="span7">
    <table class="table-bordered table-striped table-condensed table-hover">
      <% @selectables.each do |selectable| %>
        <tr>
          <td>
            <center><p><%= selectable %></p></center>
          </td> 
        </tr>
      <% end %>
    </table>
    <% if @selectables != [] %>
      <%= will_paginate @selectables, renderer: BootstrapPagination::Rails, inner_window: 1, outer_window: 0  %>
    <% end %>
  </div>
</div>

