<br>

<div class="row">
  <div class="span16">
    <h3> Listar todos los subconjuntos de K elementos, formados a partir de los elementos del conjunto S = {1,2,3,...,n}, que no contengan elementos consecutivos.</h3>
    <br><br>
    
    <div class="span4">
      <div class="col-lg-8">

        <%= form_tag(:attachment2, :method => "get", id: "search-form2") do %>

          <div class="form-group">
            <%= label_tag 'N:', nil, class: 'col-lg-2 control-label' %>
            <div class="col-lg-10">
              <%= text_field_tag :n, params[:n], placeholder: "Integer in 1..14", size: 30 %>
            </div>
          </div>

          <br><br>

          <div class="form-group">
            <%= label_tag 'k: ', nil, class: 'col-lg-2 control-label' %>
            <div class="col-lg-10">
              <%= text_field_tag :k, params[:k], placeholder: "Should be less to N value and 6", size: 30 %>
            </div>
          </div>

          <br><br>

          <div class="form-group">
            <div class="col-lg-10">
              <%= submit_tag "Search", :name => nil, class: 'btn btn-default' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="span8">
      <% if @message %>
        <center><h3><%= @message %></h3></center>
      <% else %>
        <table class="table-bordered table-striped table-condensed table-hover">
          <% @selectables.each do |sub_selectables| %>
            <tr>
              <% sub_selectables.each do |selectable| %>
                <td>
                  <center><h3><%= selectable.to_s.gsub!('[','').gsub!(']','') %></h3></center>
                </td> 
              <% end %> 
            </tr>
          <% end %>
        </table>
        <% unless @selectables.empty? %>
          <%= will_paginate @selectables, renderer: BootstrapPagination::Rails %>
        <% end %>
      <% end %>
    </div>
  </div>