<br>

<div class="row">
  <div class="span16">
    <h3> Pruebe que los resultados obtenidos en los problemas resueltos previamente son correctos, escribiendo los programas correspondientes que corroboren éstos.</h3>
    <br><br>
    <div class="span5">
      <div class="col-lg-8">

        <%= form_tag(:attachment4, :method => "get", id: "search-form4") do %>

          <div class="form-group">
            <%= label_tag 'n: ', nil, class: 'col-lg-2 control-label' %>
            <div class="col-lg-10">
              <%= text_field_tag :exercise, params[:exercise], placeholder: "20a, 38, 45, 47, 50b", size: 30 %>
            </div>
          </div>

          <br><br>

          <div class="form-group">
            <div class="col-lg-10">
              <%= submit_tag "Search", :name => nil, class: 'btn btn-default' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="span5">
      <table class="table-bordered table-striped table-condensed table-hover">
        <% @selectables.each do |sub_selectables| %>
          <tr>
            <% sub_selectables.each do |selectable| %>
              <td>
                <center><h3><%= selectable.to_s.gsub('[','').gsub(']','') %></h3></center>
              </td> 
            <% end %> 
          </tr>
        <% end %>
      </table>
      <% unless @selectables.empty? %>
        <%= will_paginate @selectables, renderer: BootstrapPagination::Rails %>
      <% end %>
    </div>
  </div>